<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Libre Manga | Free, fast, simple and straightforward Manga Reader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Libre Manga is a website dedicated to serve Manga free, fast, simple and straightforward. We've handpicked the best manga in Japan and show it to you with simplicity.">
    <meta name="title" content="Libre Manga | Free, fast, simple and straightforward Manga Reader">
    <link href="assets/css/index.css" rel="stylesheet"/>
</head>
<body>
	<div id="wrap">
		<aside id="sidebar">
		<!--Sidebar content-->
			<h3><a href="javascript:(void)">Manga List</a></h3>
			<ul id="manga_list">
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea03c092255ef70046f0">Naruto</a>
					<span class="label label-important">HOT</span>
				</li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70e9efc092255ef7004274">Bleach</a>
					<span class="label label-important">HOT</span>
				</li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea10c092255ef7004aa2">One Piece</a>
					<span class="label label-important">HOT</span>
				</li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea0cc092255ef70049ac">Detective Conan</a>
					<span class="label label-important">HOT</span>
				</li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70e9ecc092255ef700415c">Get Backers</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70e9fdc092255ef700454c">GTO</a></li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea02c092255ef70046e0">Hunter x Hunter</a>
					<span class="label label-important">HOT</span>
				</li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea14c092255ef7004be8">Hajime no Ippo</a>
					<span class="label label-important">HOT</span>
				</li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea60c092255ef700672e">Dragon Ball SD</a></li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea0cc092255ef7004966">Toriko</a>
					<span class="label label-important">HOT</span>
				</li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea0fc092255ef7004a61">Slam Dunk</a></li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea03c092255ef7004716">Beelzebub</a>
					<span class="label label-important">HOT</span>
				</li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea02c092255ef70046d6">History's Strongest Disciple Kenichi</a>
					<span class="label label-important">HOT</span>
				</li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70e9f8c092255ef7004410">Pokemon Adventure</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70e91dc092255ef7001733">Hell Teacher Nube</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70e9f9c092255ef700442c">Flame Of Recca</a></li>
				<li><!-- <a href="javascript:(void)" class="manga" data-id="4e70ea60c092255ef7006732"> -->Rock Lee's Springtime of Youth<!-- </a> --></li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea1dc092255ef7004d5c">Fairy Tail</a>
					<span class="label label-important">HOT</span>
				</li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea00c092255ef700461c">Katekyo Hitman Reborn</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea0dc092255ef70049b6">Death Note</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea06c092255ef700479d">Fullmetal Alchemist</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea05c092255ef700477b">D.Gray-man</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea03c092255ef700470c">Soul Eater</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea0ec092255ef7004a28">Berserk</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea02c092255ef70046c5">Claymore</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea0ac092255ef70048d8">Air Gear</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70e9e6c092255ef7003fa9">Shaman King</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70e9fdc092255ef700453c">20th Century Boys</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea08c092255ef700483f">Beck</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea04c092255ef700473e">Rurouni Kenshin</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea13c092255ef7004bb2">Yakitate Japan</a></li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70e9dec092255ef7003d75">New Grappler Baki</a></li>
				<li>
					<a href="javascript:(void)" class="manga" data-id="4e70ea22c092255ef7004f01">Kuroko no Basuke</a>
					<span class="label label-important">HOT</span>
				</li>
				<li><a href="javascript:(void)" class="manga" data-id="4e70ea03c092255ef70046f4">Tenjou Tenge</a></li>
			</ul>
			<footer id="main_footer">
				<span class="container">Copyright 2014 - Libre Manga | <a href="#disclaimer" role="button" data-toggle="modal">Disclaimer</a> | <a href="#about" role="button" data-toggle="modal">About</a> </span>
			</footer>
		</aside>
		<section class="" id="content">
			<header id="main_header">
				<h1 class="main_heading">Libre Manga</h1>
				<h2 class="main_description">Read the latest release here first! Straight from our japanese manga source. We've handpicked the best manga in japan. So check your favorite manga in our list. If you find it then you are lucky! What makes Libre Manga stands out from other manga fan site? Libre Manga is simple, fast, updated, and straightforrward manga reader. Enjoy!</h2>
				<p class="shoutout">
					<span>Go on. Don't be shy. Spread the word!</span>
					<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flibremanga.com" class="facebook share_fb" target="_blank">
						<span>Facebook </span>
					</a>
					<a href="https://twitter.com/share?url=http%3A%2F%2Flibremanga.com" target="_blank" class="twitter share_twitter">
						<span>Twitter</span>
					</a>
					<a href="https://plus.google.com/share?url=http%3A%2F%2Flibremanga.com" target="_blank" class="google share_gplus">
						<span>Google +</span>
					</a>
				</p>
				<article class="libre_manga_note">
					<p>
						*You're one awesome dude if your using latest release of internet browser!
					</p>
				</article>
			</header>
			<!-- <p class="loader"><img src="assets/img/ajax-loader.gif" alt="loading"></p> -->
			<div class="loader">
				<div class="spinner"></div>
				<span>loading...</span>
			</div>

			<div id="disclaimer" class="modal hide fade small_modal" tabindex="-1" role="dialog" aria-labelledby="disclaimer" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h3 id="disclaimer_label">Disclaimer</h3>
				</div>
				<div class="modal-body">
					<p>I do not own any images or information about any manga's published in this site, I am simply getting all the data from our beloved API source provided by <a href="http://www.mangaeden.com/api/">Mangaeden</a>. Copyrights and trademarks for the manga, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law. If you have any suggestion, comments or if any images that appeared on my blog are in violation of copyright law please do email me at <b>macmac[dot]uy[at]gmail[dot]com</b></p> 
				</div>
				<div class="modal-footer">
					Salamat po! (Thank you!)
				</div>
			</div>

			<div id="about" class="modal hide fade small_modal" tabindex="-1" role="dialog" aria-labelledby="about" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h3 id="about_label">About Libre Manga</h3>
				</div>
				<div class="modal-body">
					<p>Libre Manga is inspired by Kevin and Raven idea of manga reader web app, I develop Libre Manga using bunch of front-end library/framework like Jquery, Twitter Bootstrap, Underscorejs and Sass. All buttons, preloader and animations are made with CSS3 inspired by Codrops</p> 
				</div>
				<div class="modal-footer">
					This site is develop and maintained by Mark Anthony Uy.
				</div>
			</div>
		</section>
	</div>
	<script type="text/template" id="manga_details">
		<section id="manga_details_wrap">
			<header>
				<h3><%= title %></h3>
				<ul>
					<li>
						<a href="https://plus.google.com/share?url=http%3A%2F%2Flibremanga.com" target="_blank" class="share_gplus"><img src="assets/img/google_active.png" alt="Google Plus"><span class="expand">+1 Us</span>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flibremanga.com" target="_blank" class="share_fb">
							<img src="assets/img/facebook_active.png" alt="Facebook">
							<span class="expand">Share Us</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/share?url=http%3A%2F%2Flibremanga.com" target="_blank" class="share_twitter"><img src="assets/img/twitter_active.png" alt="Twitter"><span class="expand">Tweet Us</span>
						</a>
					</li>
				</ul>
			</header>
			<div class="manga_details">
				<img src="http://cdn.mangaeden.com/mangasimg/<%= image %>" alt="<%= title %>">
				<p class="manga_desc">
					<%= description %>
				</p>
				<p>
					<span><b>Created By</b> - <%= author %></span>
				</p>
				<div class="manga_more_info">
					<h4 class="categories">Categories</h4>
					<ul class="categories_items">
						<% _.each(categories, function(category){ %>
							<li><%= category %></li>
						<% }); %>	
					</ul>
				</div>
				<h4>Hits : <%= hits %></h4>
			</div>
			<h4>Chapters (Latest Release First)</h4>
			<ul id="manga_chapters_list">
				<% _.each(chapters, function(chapter) { %>
					<%
						var formatDate = new Date(chapter[1] * 1000),
							month = formatDate.getMonth() + 1,
							day = formatDate.getDate(),
							year = formatDate.getFullYear(),
							real_month = (month < 10) ? '0' + month : month;
							real_day = (day < 10) ? '0' + day : day;
					%>
					<li><a href="#manga_chapter" role="button" class="manga_chapter" data-toggle="modal" data-id="<%= chapter[3] %>" data-chapter="<%= chapter[0] %>" data-manga-title="<%= title %>">Chapter <%= chapter[0] %></a> - <%= real_month %>/<%= real_day %>/<%= year %> 
						<% if(chapter[2] == null || chapter[2] == '' || $.isNumeric(chapter[2])) { %> 
							<b>(No Title)</b>
						<% } else { %>
							<b><%= (chapter[2]) %></b>
						<% } %>
					</li>
				<% }); %>
			</ul>
		</section>
	</script>
	<script type="text/template" id="manga_chapter_view">
		<div id="manga_chapter<%= id %>" class="modal hide fade big_modal" tabindex="-1" role="dialog" aria-labelledby="manga_chapter_image<%= id %>" aria-hidden="true">
			<div class="modal-header">
				
				<div class="pull-right clearfix">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				</div>
				<h3 id="manga_chapter_image<%= id %>_label">
					<%= manga_title %> Chapter <%= num %>
					<a href="javascript:(void)" class="modal_fullscreen" title="Fullscreen"><i class="icon-resize-full"></i></a>
				</h3>
			</div>
			<div class="modal-body">
				<ul class="manga_chapter_image_holder">
					<% _.each(images, function(item) { %>
						<li>
							<img src="http://cdn.mangaeden.com/mangasimg/<%= item[1]%>">
						</li>
					<% }); %>
				</ul>
			</div>
			<div class="modal-footer">
				<p class="pull-left">Images are separeted by thick blue lines</p>
				<p class="pull-right">Copyright 2014 - Libre Manga</p>
			</div>
		</div>
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/js/lib/jquery-2.0.2.js"><\/script>')</script>
	<!-- <script src="assets/js/lib/backbone-1.0.0.js"></script> -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="assets/js/index.js"></script>
	<!-- Develop and Maintain by Mark Anthony Uy. Email me at macmac.uy@gmail.com -->
</body>
</html>